.navBar {
  height: 60px;
  display: flex;
  background-color: #115571;
}


.navBarLogo img {
  height: 100%;
  padding: 10px;
}

.navBarPush {
    margin-left: auto;
}

.navBarLinks {
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}


.navBarLinks ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navBarLinks ul li {
  margin: 0;
  padding: 0 25px;
}

.navBarLinks ul li a {
  color: white;
  text-decoration: none;
}

